:root {
    --Schriftfarbe: #333;
    --ButtonSchriftfarbe: rgb(0, 0, 0);
    --ButtonBackground: #007bff;
    --ButtonBackgroundHover: #0056b3;
    --LightBlue: #D1DCE5;
    --ButtonHeight: 35px;
    --PopupBackground: #dbebfa;
    --BorderRadius: 10px;
    --ButtonRadius: 5px;
    --button-container-buttons-save-color: #007BFF;
    --button-container-buttons-cancel-color: #6C757D;
    --button-container-buttons-save-color-hover: #0056B3;
    --button-container-buttons-cancel-color-hover: #575757;
    --transition: all 0.2s ease-in-out;
}


body {
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    background-color: #F3F4F6;
}


/* Specaial Styles */

#mainContent {
    padding: 20px;
}

#subjectContent {
    padding: 20px;
}

.IMG {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-bottom: 2px;
}

.context-menu {
    background-color: #dbebfa;
    border-radius: var(--BorderRadius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    color: #333333;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1001;
    border: none;
    display: flex;
    flex-direction: column;
}

.popup-buttons {
    flex-grow: 1;
    text-align: center;
    border: none;
    border-radius: var(--BorderRadius);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    transition: var(--transition);
}

#EditSubjectContext {
    background-color: var(--ButtonBackground);
    color: var(--ButtonSchriftfarbe);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}

#EditSubjectContext:hover {
    background-color: var(--ButtonBackgroundHover);
}

#DeleteSubjectContext {
    background-color: var(--button-container-buttons-cancel-color);
    color: var(--ButtonSchriftfarbe);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
}

#DeleteSubjectContext:hover {
    background-color: var(--button-container-buttons-cancel-color-hover);
}

.color-choice {
    border: 1px solid #5a5959;
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 35px;
    transition: var(--transition);
}

.color-choice.selected {
    transform: scale(1.2);
    border-color: #424242;
}

.color-choice:hover {
    transform: scale(1.2);
}


.button-container {
    display: flex;
    justify-content: space-between; 
    margin: 0 auto; 
    width: 90%; 
    padding: 10px 0;
}

.button-container-buttons {
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
    border: none;
    border-radius: var(--BorderRadius);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
}

.button-container-buttons:first-child {
    margin-left: 0;
}

.button-container-buttons:last-child {
    margin-right: 0;
}

.button-container-buttons-save {
    background-color: var(--button-container-buttons-save-color);
}

.button-container-buttons-save:hover {
    background-color: var(--button-container-buttons-save-color-hover);
}

.button-container-buttons-cancel {
    background-color: var(--button-container-buttons-cancel-color);
}

.button-container-buttons-cancel:hover {
    background-color: var(--button-container-buttons-cancel-color-hover);
}

/* Buttons */

.neuesFachButton {
    background-color: var(--ButtonBackground);
    border: none;
    border-radius: var(--ButtonRadius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--ButtonSchriftfarbe);
    cursor: pointer;
    font-family: 'Lato-Medium' , sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: var(--transition);
    margin-top: 5px;
    height: var(--ButtonHeight);
    margin-right: 5px;
}

.neuesFachButton:hover {
    background-color: var(--ButtonBackgroundHover);
}




/* Titles */
.MainTitle {
    color: var(--Schriftfarbe);
    font-family: "Architects Daughter", Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
}

.SubTitle {
    color: var(--Schriftfarbe);
    font-size: 46px;
    margin-bottom: 15px;

}

.miniTitle {
    color: #333;
    font-family: Arial, sans-serif;
    border-bottom:  1px #9da9b3 solid;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
} 



/* MainContentBoxStyles */
.mainContentBox { 
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 555px;
    width: auto;
}

.miniboxgroup {
    display: flex;
    justify-content: space-between;
}

.rectangle {
    background-color: var(--LightBlue); 
    border-radius: var(--BorderRadius);  
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
 

.subjects-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 485px;
    overflow-x: hidden;
    margin-top: 5px;
}

.subjects-wrapper::-webkit-scrollbar {
    width: 8px;
}

.subjects-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

.subjects-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid transparent;
    border-radius: 5px;
}

.subjects-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 5px;
}



/* Einzelne Boxen */

.FächerBox {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    min-width: 400px;
}

.DurschnittBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 200px;
    text-align: center;
}

.RechnerBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 200px;
    text-align: center;
}

.NotenentwicklungBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
    min-width: 420px;
    text-align: center;
}

.NotenverteilungBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    min-width: 420px;
    text-align: center;
}


                                /* POPUPS */

/* neuesFachPopup */
.FachPopup {
    background-color: var(--PopupBackground);
    border-radius: var(--BorderRadius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-width: 350px;
    max-width: 610px;
    z-index: 1000;
}

.FachPopupContent {
    text-align: center;
}

.FachPopupInput {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    width: 90%;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: var(--transition);
}


.FachPopupInput:focus {
    outline: none;
    background-color: #ffffff;
}

.FachPopupColor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    width: 90%; 
    padding: 15px 0;
}

/* KategoriePopup */
.KategoriePopup {
    background-color: var(--PopupBackground);
    border-radius: var(--BorderRadius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 360px;
    max-width: 610px;
    z-index: 1000;
}

.KategoriePopupContent {
    text-align: center;
}

.KategoriePopupInput {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    width: 75%;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: var(--transition);
}

.KategoriePopupInput:focus {
    outline: none;
    background-color: #ffffff;
}

.KategoriePopupSelect {
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    width: 15%;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: var(--transition);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('assets/arrow.svg') no-repeat 75% center, #f7f7f7;
    background-size: 13px;
}
.KategoriePopupSelect:focus {
    outline: none;
    background-color: #ffffff;
}

/* NotePopup */
.NotePopup {
    background-color: var(--PopupBackground);
    border-radius: var(--BorderRadius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 350px;
    max-width: 610px;
    z-index: 1000;
    height: auto;
}

.NotePopupContent {
    text-align: center;
}

.NotePopupContentSelector {
    display: flex;
    padding-left: 16px;
    padding-right: 17px;
    padding-top: 15px;
    gap: 3px;
}

.NotePopupInput {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    width: 70%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: var(--transition);
}

#neueNotePopup-input {
    margin-top: 15px;
}

.NotePopupInput:focus {
    outline: none;
    background-color: #ffffff;
}

.NotePopupSelect {
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    width: 20%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: var(--transition);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('assets/arrow.svg') no-repeat 75% center, #f7f7f7;
    background-size: 13px;
}

.NotePopupSelect:focus {
    outline: none;
    background-color: #ffffff;
}

/* editNotePopup */
.trashcan-button {
    background-color: #f7f7f7;
    height: 40px; 
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: var(--BorderRadius);
    transition: var(--transition);
    cursor: pointer;
}

.trashcan-button:focus {
    outline: none;
    background-color: #ffffff;
}

.trashcan-button:hover {
    background-color: #e6e6e6;
}

.trashcan-button:active {
    background-color: #ffad33;
}

.trashcan-button-img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}





.subject-box{
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 4px;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: var(--BorderRadius);
}



/* SUBJECTPAGE */
.categoriesContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 340px));
    grid-auto-rows: 220px;
    gap: 20px;
}

/* KategorieBoxen */
.category-box {
    align-items: center;
    background-color: #d1dce5;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    height: 200px;
    border-radius: var(--BorderRadius);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    width: 98%;
    font-weight: bold;
    font-size: 20px;
}

.gradesContainer {
    overflow-y: auto;
    max-height: 200px; 
    width: 98%;
    padding-bottom: 10px;
    overflow-x: hidden;
    margin-top: 10px;
    padding-right: 5px;
}

.gradesContainer::-webkit-scrollbar {
    width: 8px;
}

.gradesContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}


.gradesContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid transparent;
    border-radius: 5px;
}

.gradesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 5px;
    width: 12px; /* Farbe des beweglichen Teils der Scrollbar beim Überfahren mit der Maus */
}




.gradeElement {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    height: 13px;
    margin-top: -2px;
    padding-bottom: 5px;
}



.grade{ 
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}