:root {
    --Schriftfarbe: #333;
    --ButtonSchriftfarbe: rgb(0, 0, 0);
    --ButtonBackground: #007bff;
    --ButtonBackgroundHover: #0056b3;
    --LightBlue: #D1DCE5;
    --ButtonHeight: 35px;
}

.IMG {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-bottom: 2px;
}

body {
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    background-color: #F3F4F6;
}

#mainContent {
    padding: 20px;
}


/* Buttons */

.neuesFachButton {
    background-color: var(--ButtonBackground);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--ButtonSchriftfarbe);
    cursor: pointer;
    font-family: 'Lato-Medium' , sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease;
    margin-top: 20px;
    height: var(--ButtonHeight);
}

.neuesFachButton:hover {
    background-color: var(--ButtonBackgroundHover);
}





/* Titles */
.MainTitle {
    color: var(--Schriftfarbe);
    font-family: "Architects Daughter", Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
}

.SubTitle {
    color: var(--Schriftfarbe);
    font-size: 46px;
    margin: 0;
}

.miniTitle {
    color: #333;
    font-family: Arial, sans-serif;
    border-bottom:  1px #9da9b3 solid;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
} 



/* MainContentBoxStyles */
.mainContentBox { 
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 555px;
    width: auto;
}

.miniboxgroup {
    display: flex;
    justify-content: space-between;
}

.rectangle {
    background-color: var(--LightBlue); 
    border-radius: 8px;  
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
 

.subjects-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





/* Einzelne Boxen */

.FächerBox {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    min-width: 400px;
}

.DurschnittBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 200px;
    text-align: center;
}

.RechnerBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 200px;
    text-align: center;
}

.NotenentwicklungBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
    min-width: 420px;
    text-align: center;
}

.NotenverteilungBox {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    min-width: 420px;
    text-align: center;
}


/* POPUPS */